<div class="row">
    <div class="col-6">
        <app-dona titulo="Ventas" [data]="[20,50,100]" [doughnutChartLabels]="['Doctor', 'Paciente', 'Visita']"></app-dona>
    </div>
    <div class="col-6">
        <app-dona titulo="Ventas2" [data]="[20,150,140]" [doughnutChartLabels]="['Doctor', 'Paciente', 'Visita']"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona titulo="Ventas3" [data]="[20,50,100]" [doughnutChartLabels]="['Doctor', 'Paciente', 'Visita']"></app-dona>
    </div>
    <div class="col-6">
        <app-dona titulo="Ventas7" [data]="[20,150,140]" [doughnutChartLabels]="['Doctor', 'Paciente', 'Visita']"></app-dona>
    </div>
</div>